
        /* 전체 스타일 초기화 */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Noto Sans KR', sans-serif;
            background-color: #282a36;
            color: #f8f8f2;
        }

        header {
            background-color: #44475a;
            padding: 1rem 0;
            text-align: center;
        }

        main {
            max-width: 1200px;
            margin: 2rem auto;
            padding: 0 2rem;
        }
        #controls {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;  /* 컨트롤 간의 간격 */
        }
        
        #pac-input {
            width: 400px;
            padding: 10px;
            margin: 2rem 0 10px 0;
            display: block;
            border-radius: 3px;
            border: 1px solid #ccc;
        }
        
            
        #map {
            width: 100%;
            height: 500px;
            margin: 2rem 0;
        }

        footer {
            text-align: center;
            padding: 1rem 0;
            background-color: #44475a;
        }

        #dataframe-container {
            margin-top: 2rem;
            overflow-x: auto;
        }
        .dataframe {
            width: 100%;
            min-width: 800px;
            border-collapse: collapse;
        }
        .dataframe th, .dataframe td {
            border: 1px solid #ccc;
            padding: 8px 12px;
            text-align: center;
        }

        #city-section {
            display: flex;
        }
        
        #map {
            flex: 8; /* This will make the map take up 80% of the container's width */
            border-right: 1px solid #ccc; /* Optional: Adds a border between the map and the buttons */
        }
        
        #city-buttons {
            flex: 1; /* Each button section will take up 10% of the container's width */
            padding: 10px; /* Some spacing around the buttons */
            box-sizing: border-box; /* Ensure padding doesn't expand the div beyond its flex size */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        #city-buttons button {
            width: 100%; /* Button takes the full width of its container */
            height: calc(100% / 9 - 10px); /* Divides the container height by 9 (number of buttons) and adjusts for any potential gaps */
            margin-bottom: 10px; /* Space between buttons */
        }

